<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      throwExceptions="true"
      internalLogFile="${var:root}\Logs\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="WebApp"/>
    <add assembly="Cheers.ApiInsights"/>
  </extensions>
  <targets>
    <!--黑洞 忽略的日志-->
    <target xsi:type="Null"
            name="blackhole" />
    <!--文件日志-->
    <target xsi:type="File"
        name="debughelper"
        fileName="${var:root}\Logs\debug_helper.log"
        layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <!--apiinsight api 统计-->
    <target name="apiinsight" xsi:type="Database"
             dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
             connectionString="${var:connectionString}"
             >
      <commandText>
        INSERT INTO `demo`.`apiinsight`
        (`start`,
        `time`,
        `application`,
        `method`,
        `protocol`,
        `host`,
        `port`,
        `path`,
        `query`,
        `httpstatus`,
        `authenticate`,
        `clientip`,
        `serverip`)
        VALUES
        (
        @start,
        @time,
        @application,
        @method,
        @protocol,
        @host,
        @port,
        @path,
        @query,
        @httpstatus,
        @authenticate,
        @clientip,
        @serverip);
      </commandText>
      <parameter name="@start" layout="${apiinsight-start}" />
      <parameter name="@time" layout="${apiinsight-time}" />
      <parameter name="@application" layout="${apiinsight-application}" />
      <parameter name="@method" layout="${aspnet-Request-Method}" />
      <parameter name="@protocol" layout="${apiinsight-protocol}" />
      <parameter name="@host" layout="${apiinsight-host}" />
      <parameter name="@port" layout="${apiinsight-port}" />
      <parameter name="@path" layout="${apiinsight-path}" />
      <parameter name="@query" layout="${apiinsight-query}" />
      <parameter name="@httpstatus" layout="${apiinsight-httpstatus}"/>
      <parameter name="@authenticate" layout="${apiinsight-authenticate}"/>
      <parameter name="@clientip" layout="${apiinsight-clientip}" />
      <parameter name="@serverip" layout="${apiinsight-serverip}" />
    </target>
    <!--日志-->
    <target name="log" xsi:type="Database"
         dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
         connectionString="${var:connectionString}"
             >
      <commandText>
        insert into log (
        application, logged, level, message,
        logger, callsite, exception,ip,user,servername,url
        ) values (
        @application, @logged, @level, @message,
        @logger, @callsite, @exception,@ip,@user,@servername,@url
        );
      </commandText>
      <parameter name="@application" layout="${apiinsight-application}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${apiinsight-request-exception}" />
      <parameter name="@IP" layout="${aspnet-Request-IP}"/>
      <parameter name="@User" layout="${apiinsight-request-user}"/>
      <parameter name="@serverName" layout="${apiinsight-request-servername}" />
      <parameter name="@url" layout="${apiinsight-request-url}" />
    </target>
  </targets>
  <rules>
    <!--需要记录的日志-->
    <logger name="Cheers.*" minlevel="Trace" writeTo="apiinsight" />
    <logger name="WebApp.*" minlevel="Info" writeTo="log" />
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="debughelper" />

    <!--忽略的日志-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>
